extends _navbar

block links
  #navbar.navbar-collapse.collapse
    <h3 class="navbar__header">MENU</h3>
    ul.nav.navbar-nav
      li
        a.nav__team(href='/team.html') #{navbar.team}
      li
        a.nav__technology(href='/technology.html') #{navbar.technology}
      li
        a.nav__news(href='/news.html') #{navbar.news}
