@charset "utf-8";
/* CSS Document */



/* ==============================================
font
============================================== */

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,500,600,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');



/* ==============================================
setting
============================================== */

* {
margin:0;
padding:0;
}
body {
background: url("../images/cmn_btm.png") bottom center no-repeat;
}
h1,h2,h3,h4,h5,p,th,td,dt,dd,li {
font-family:"Roboto", "Noto Sans JP";
font-weight:400;
font-size: 14px;
line-height: 28px;
letter-spacing: 1px;
margin:0;
padding:0;
color:#232538;
}
h1,h2,h3,h4,h5,div,table,th,td,dl,dt,dd,ul,li,p,a,strong,span {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
-o-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: 0.1s ease-out;
transition: 0.1s ease-out;
}
img {
border:none;
vertical-align:bottom;
}
table {
border-collapse:collapse;
border-spacing:0;
}
ul {
list-style:none;
}
ul:after { content:"."; clear:both; height:0; display:block; visibility:hidden; }
* html ul { display:inline-block; }
*:first-child+html ul { display:inline-block; }

a:link {color:#325a82; text-decoration:underline;}
a:visited {color:#325a82; text-decoration:none;}
a:hover {color:#325a82; text-decoration:none;}
a:active {color:#325a82; text-decoration:none;}
a{
-webkit-transition: 0.2s ease-out;
transition: 0.2s ease-out;
}
a:hover{
opacity: 0.7;
}



.center{
text-align:center;
}
.left{
text-align:left;
}
.right{
text-align:right;
}



.sp{
display:none!important;
}



/* ==============================================
header
============================================== */

header{
height: 100px;
}
header h1{
padding: 25px 0 0 25px;
}
header h1 img{
height: 44px;
}
header p{
padding: 25px 0 0 25px;
}
header p img{
height: 44px;
}
header nav{
position: absolute;
top:35px;
right: 40px;
}
header nav p{
display: none;
}
header nav ul{
}
header nav ul li{
float: left;
margin: 0 0 0 80px;
}
header nav ul li a{
font-size: 16px;
line-height: 16px;
color: #232538!important;
text-decoration: none!important;
}
header nav ul li.here a{
color: #325a82!important;
text-decoration: underline!important;
}



/* ==============================================
main
============================================== */

main{
position: relative;
}
main .inner{
max-width: 1200px;
margin: auto;
}
main #contact{
margin: 160px 0 0 0;
padding: 150px 0 0 0;
}
main #contact .inner{
}
main #contact h2{
font-size: 40px;
line-height: 40px;
font-weight: 600;
color: #FFF;
text-align: center;
}
main #contact p{
font-size: 16px;
line-height: 32px;
font-weight: 300;
color: #FFF;
text-align: center;
padding: 70px 0 0 0;
}
main #contact .button{
padding: 70px 0 0 0;
}
main #contact .button a{
font-size: 16px;
line-height: 16px;
color: #FFF;
text-align: center;
display: block;
background: #232538;
border-radius: 3px;
width: 400px;
padding: 31px 0 33px 0;
position: relative;
text-decoration: none;
margin: auto;
}
main #contact .button a::before{
content: "";
position: absolute;
top:0;
right: 0;
width: 80px;
height: 100%;
background: -moz-linear-gradient(left, #232538, #325a82); 
background: -webkit-linear-gradient(left, #232538, #325a82); 
background: linear-gradient(to right, #232538, #325a82); 
border-radius: 0 4px 4px 0;
}
main #contact .button a::after{
content: "";
position: absolute;
top:32px;
right: 35px;
width: 7px;
height: 12px;
background: url("../images/cmn_arwr_w.svg") no-repeat;
background-size: 7px auto;
}



/* ==============================================
footer
============================================== */

footer{
padding: 160px 0 150px 0;
}
footer h2{
text-align: center;
}
footer h2 a{
}
footer h2 a img{
height: 40px;
}
footer p{
font-size: 12px;
line-height: 30px;
color: #FFF;
text-align: center;
padding: 28px 0 0 0;
}



/* ==============================================
#page-index
============================================== */

#page-index{
}



#page-index #introduction{
height: 540px;
background: #325a82;
overflow: hidden;
position: relative;
padding: 0 0 0 40px;
}
#page-index #introduction .inner{
}
#page-index #introduction h2{
font-size: 60px;
line-height: 60px;
font-weight: 600;
letter-spacing: 4px;
color: #FFF;
padding: 110px 0 0 0;
position: relative;
z-index: 104;
}
#page-index #introduction h3{
font-size: 30px;
line-height: 30px;
font-weight: 500;
color: #FFF;
padding: 30px 0 0 0;
position: relative;
z-index: 104;
}
#page-index #introduction p{
font-size: 15px;
line-height: 32px;
font-weight: 300;
color: #FFF;
padding: 10px 0 0 0;
}
#page-index #introduction .button{
padding: 35px 0 0 0;
position: relative;
width: 440px;
}
#page-index #introduction .button::after{
content: "";
width: 100px;
height: 100px;
background: #325a82;
position: absolute;
top:40px;
right: -80px;
-moz-transform: rotate(23deg);
-webkit-transform: rotate(23deg);
-o-transform: rotate(23deg);
-ms-transform: rotate(23deg);
}
#page-index #introduction .button a{
font-size: 16px;
line-height: 16px;
color: #FFF;
display: block;
background: #232538;
border-radius: 3px;
padding: 31px 0 33px 30px;
position: relative;
text-decoration: none;
}
#page-index #introduction .button a::before{
content: "";
position: absolute;
top:0;
right: 0;
width: 120px;
height: 100%;
background: -moz-linear-gradient(left, #232538, #325a82); 
background: -webkit-linear-gradient(left, #232538, #325a82); 
background: linear-gradient(to right, #232538, #325a82); 
border-radius: 0 4px 4px 0;
}
#page-index #introduction .button a::after{
content: "";
display: inline-block;
width: 7px;
height: 12px;
background: url("../images/cmn_arwr_w.svg") no-repeat;
background-size: 7px auto;
vertical-align: middle;
margin: -3px 0 0 10px;
}
#page-index #introduction .image{
position: absolute;
top:0;
right: 60px;
z-index: 100;
padding: 0;
-webkit-animation-name: image;
animation-name: image;
}
@media screen and (max-width:1100px) {
#page-index #introduction .image{
right: -140px;
}
}
@-webkit-keyframes image {
0% {
-webkit-transform: translateX(50px);
transform: translateX(50px);
}
100% {
-webkit-transform: translateX(0);
transform: translateX(0);
}
}
@keyframes image {
0% {
-webkit-transform: translateX(50px);
-ms-transform: translateX(50px);
transform: translateX(50px);
}
100% {
-webkit-transform: translateX(0);
-ms-transform: translateX(0);
transform: translateX(0);
}
}
#page-index #introduction .image img{
}
#page-index #introduction .line{
padding: 0;
overflow: hidden;
width: 880px;
height: 780px;
position: absolute;
top:-240px;
right: 0;
z-index: 101;
-webkit-animation-name: line;
animation-name: line;
}
@media screen and (max-width:1100px) {
#page-index #introduction .line{
right: -200px;
}
}
@-webkit-keyframes line {
0% {
-webkit-transform: translateY(80px);
transform: translateY(80px);
}
100% {
-webkit-transform: translateY(0);
transform: translateY(0);
}
}
@keyframes line {
0% {
-webkit-transform: translateY(80px);
-ms-transform: translateY(80px);
transform: translateY(80px);
}
100% {
-webkit-transform: translateY(0);
-ms-transform: translateY(0);
transform: translateY(0);
}
}
#page-index #introduction .line img{
margin: 0 0 0 -100px;
}



#page-index #services{
padding: 120px 0 0 0;
}
#page-index #services .inner{
}
#page-index #services h2{
font-size: 40px;
line-height: 40px;
font-weight: 600;
text-align: center;
}
#page-index #services .image{
background: url("../../images/tp_srvc_bg.png");
width: 677px;
height: 684px;
position: relative;
margin: 135px auto 0 auto;
}
#page-index #services .service h3{
font-size: 20px;
line-height: 20px;
font-weight: 600;
text-align: center;
}
#page-index #services .service h3 img{
width: 120px;
border-radius: 60px;
display: block;
margin: 0 auto 20px auto;
}
#page-index #services .service p{
text-align: center;
padding: 30px 0 0 0;
}
#page-index #services #service-02 p{
padding: 44px 0 0 0;
}
#page-index #services .service .button{
padding: 30px 0 0 0;
}
#page-index #services .service .button a{
font-size: 16px;
line-height: 16px;
text-align: center;
display: block;
width: 200px;
padding: 11px 0 11px 0;
border-radius: 3px;
border: solid 1px #325a82;
text-decoration: none;
margin: auto;
}
#page-index #services .service .button a:hover{
background: #325a82;
color: #FFF;
opacity: 1;
}
#page-index #services #service-01{
position: absolute;
top:-60px;
left: 0;
right: 0;
margin: auto;
}
#page-index #services #service-02{
position: absolute;
bottom:30px;
right: -105px;
}
#page-index #services #service-03{
position: absolute;
bottom:30px;
left: -160px;
}
#page-index #services .text-01{
position: absolute;
top:133px;
right: 30px;
text-align: center;
font-size: 16px;
line-height: 24px;
font-weight: 500;
color: #325a82;
}
#page-index #services .text-02{
position: absolute;
top:440px;
left: 0;
right: 0;
margin: auto;
text-align: center;
font-size: 16px;
line-height: 24px;
font-weight: 500;
color: #325a82;
}
#page-index #services .text-03{
position: absolute;
top:133px;
left: 20px;
text-align: center;
font-size: 16px;
line-height: 24px;
font-weight: 500;
color: #325a82;
}



#page-index #achievement{
padding: 150px 40px 0 40px;
}
#page-index #achievement .inner{
}
#page-index #achievement h2{
font-size: 30px;
line-height: 30px;
font-weight: 600;
text-align: center;
}
#page-index #achievement h2 strong{
color: #325a82;
}
#page-index #achievement p{
font-size: 16px;
line-height: 32px;
text-align: center;
padding: 30px 0 0 0;
}
#page-index #achievement ul{
margin: 70px auto 0 auto;
display: table;
}
#page-index #achievement ul li{
font-size: 16px;
line-height: 16px;
font-weight: 600;
text-align: center;
float: left;
margin: 0 25px;
}
@media screen and (max-width:960px) {
#page-index #achievement ul li{
margin: 0 15px;
}
}
#page-index #achievement ul li img{
border: solid 1px #325a82;
border-radius: 60px;
width: 120px;
display: block;
margin: 0 auto 15px auto;
}
@media screen and (max-width:960px) {
#page-index #achievement ul li img{
width: 100px;
}
}
#page-index #achievement .button{
padding: 40px 0 0 0;
}
#page-index #achievement .button a{
font-size: 16px;
line-height: 16px;
color: #FFF;
text-align: center;
display: block;
background: #232538;
border-radius: 3px;
width: 400px;
padding: 31px 0 33px 0;
position: relative;
text-decoration: none;
margin: auto;
}
#page-index #achievement .button a::before{
content: "";
position: absolute;
top:0;
right: 0;
width: 80px;
height: 100%;
background: -moz-linear-gradient(left, #232538, #325a82); 
background: -webkit-linear-gradient(left, #232538, #325a82); 
background: linear-gradient(to right, #232538, #325a82); 
border-radius: 0 4px 4px 0;
}
#page-index #achievement .button a::after{
content: "";
position: absolute;
top:32px;
right: 35px;
width: 7px;
height: 12px;
background: url("../images/cmn_arwr_w.svg") no-repeat;
background-size: 7px auto;
}



#page-index #partners{
padding: 150px 40px 0 40px;
}
#page-index #partners .inner{
}
#page-index #partners h2{
font-size: 40px;
line-height: 40px;
font-weight: 600;
text-align: center;
}
#page-index #partners ul{
padding: 75px 0 0 0;
}
#page-index #partners ul li{
float: left;
display: block;
background: #FFF;
-moz-box-shadow: 0 0 40px rgba(240, 240, 245, 1.0);
-webkit-box-shadow: 0 0 40px rgba(240, 240, 245, 1.0);
box-shadow: 0 0 40px rgba(240, 240, 245, 1.0);
width: 30%;
margin: 0 5% 0 0;
padding: 120px 0 130px 0;
text-align: center;
}
#page-index #partners ul li:last-child{
margin: 0;
}
#page-index #partners ul li a{
}
#page-index #partners ul li a img{
}
@media screen and (max-width:960px) {
#page-index #partners ul li a img{
width: auto;
height: 60px;
}
}



#page-index #media{
padding: 160px 40px 0 40px;
}
#page-index #media .inner{
}
#page-index #media h2{
font-size: 40px;
line-height: 40px;
font-weight: 600;
text-align: center;
}
#page-index #media ul{
display: table;
padding: 60px 0 0 0;
}
#page-index #media ul li{
float: left;
margin: 20px 20px 0 20px;
}
#page-index #media ul li a{
}
#page-index #media ul li a img{
}



/* ==============================================
#page-dx
============================================== */

#page-dx{
}



#page-dx #introduction{
padding: 95px 40px 150px 40px;
background: url("../../dx/images/dx_intr_bg.png") bottom right no-repeat;
background-size: auto 100%;
}
#page-dx #introduction .inner{
}
#page-dx #introduction h1{
font-size: 60px;
line-height: 60px;
font-weight: 600;
}
#page-dx #introduction h1 span:nth-child(1){
color: #232538;
}
#page-dx #introduction h1 span:nth-child(2){
color: #293a56;
}
#page-dx #introduction h1 span:nth-child(3){
color: #2c4564;
}
#page-dx #introduction h1 span:nth-child(4){
color: #2f4f73;
}
#page-dx #introduction h1 span:nth-child(5){
color: #325a82;
}
#page-dx #introduction h1 strong{
font-size: 20px;
line-height: 20px;
font-weight: 500;
display: block;
padding: 30px 0 0 0;
}
#page-dx #introduction h2{
font-size: 30px;
line-height: 40px;
letter-spacing: 4px;
font-weight: 300;
padding: 130px 0 0 0;
}
#page-dx #introduction h3{
font-size: 18px;
line-height: 32px;
font-weight: 500;
color: #325a82;
padding: 25px 0 0 0;
}
#page-dx #introduction p{
padding: 25px 0 0 0;
max-width: 780px;
}



#page-dx #about{
background: #325a82;
padding: 0 40px;
}
#page-dx #about .inner{
padding: 0 0 120px 0;
position: relative;
}
#page-dx #about h2{
font-size: 30px;
line-height: 30px;
letter-spacing: 4px;
font-weight: 500;
color: #FFF;
padding: 160px 0 0 0;
}
#page-dx #about p{
color: #FFF;
padding: 30px 0 0 0;
width: 400px;
text-align: justify;
}
@media screen and (max-width:1200px) {
#page-dx #about p{
width: auto;
}
}
#page-dx #about .image{
padding: 0;
width: auto;
}
@media screen and (max-width:1200px) {
#page-dx #about .image{
padding: 80px 0 0 0;
}
}
#page-dx #about .image img{
position: absolute;
top:0;
bottom: 0;
margin: auto;
right: 0;
max-width: 759px;
}
@media screen and (max-width:1200px) {
#page-dx #about .image img{
position: inherit;
top:inherit;
bottom: inherit;
right: inherit;
width: 100%;
}
}



#page-dx #solutions{
padding: 160px 40px 0 40px;
}
#page-dx #solutions .inner{
}
#page-dx #solutions h2{
font-size: 40px;
line-height: 40px;
font-weight: 600;
text-align: center;
}
#page-dx #solutions .list{
display:-webkit-box;
display:-moz-box;
display:-ms-flexbox;
display:-webkit-flex;
display:-moz-flex;
display:flex;
-webkit-box-lines:multiple;
-moz-box-lines:multiple;
-webkit-flex-wrap:wrap;
-moz-flex-wrap:wrap;
-ms-flex-wrap:wrap;
flex-wrap:wrap;
}
#page-dx #solutions .list:after { content:"."; clear:both; height:0; display:block; visibility:hidden; }
* html #page-dx #solutions .list { display:inline-block; }
*:first-child+html #page-dx #solutions .list { display:inline-block; }

#page-dx #solutions .list div{
float: left;
display: block;
background: #FFF;
-moz-box-shadow: 0 0 40px rgba(240, 240, 245, 1.0);
-webkit-box-shadow: 0 0 40px rgba(240, 240, 245, 1.0);
box-shadow: 0 0 40px rgba(240, 240, 245, 1.0);
width: 47%;
margin: 6% 6% 0 0;
padding: 60px;
}
#page-dx #solutions .list div:nth-child(2n){
margin: 6% 0 0 0;
}
#page-dx #solutions .list div h3{
font-size: 20px;
line-height: 30px;
font-weight: 500;
text-align: center;
}
#page-dx #solutions .list div h3 span{
font-size: 20px;
line-height: 20px;
font-weight: 600;
color: #325a82;
display: block;
margin: 25px auto 30px auto;
}
#page-dx #solutions .list div h3 img{
height: 80px;
display: block;
margin: auto;
}
#page-dx #solutions .list div p{
padding: 30px 0 0 0;
text-align: justify;
}
#page-dx #solutions .list div ul{
padding: 30px 0 0 0;
}
#page-dx #solutions .list div ul li{
text-align: right;
}
#page-dx #solutions .list div ul li a{
}



#page-dx #support{
padding: 80px 40px 0 40px;
}
#page-dx #support .inner{
}
#page-dx #support h2{
font-size: 40px;
line-height: 40px;
font-weight: 600;
text-align: center;
}
#page-dx #support .list{
display: block;
background: #FFF;
-moz-box-shadow: 0 0 40px rgba(240, 240, 245, 1.0);
-webkit-box-shadow: 0 0 40px rgba(240, 240, 245, 1.0);
box-shadow: 0 0 40px rgba(240, 240, 245, 1.0);
margin: 80px 0 0 0;
padding: 60px 60px 60px 60px;
}
#page-dx #support .list:after { content:"."; clear:both; height:0; display:block; visibility:hidden; }
* html #page-dx #support .list { display:inline-block; }
*:first-child+html #page-dx #support .list { display:inline-block; }

#page-dx #support .list div{
float: left;
width: 30%;
margin: 0 5% 0 0;
}
#page-dx #support .list div:last-child{
margin: 0;
}
#page-dx #support .list div h3{
font-size: 18px;
line-height: 32px;
font-weight: 500;
text-align: center;
}
#page-dx #support .list div h3 span{
font-size: 20px;
line-height: 30px;
color: #325a82;
display: block;
margin: 25px auto 30px auto;
}
#page-dx #support .list div h3 img{
height: 80px;
display: block;
margin: auto;
}
#page-dx #support .list div p{
padding: 30px 0 0 0;
text-align: justify;
}



#page-dx #case{
padding: 160px 0 0 0;
}
#page-dx #case .inner{
max-width: 100%;
}
#page-dx #case h2{
font-size: 40px;
line-height: 40px;
font-weight: 600;
text-align: center;
}
#page-dx #case .list{
display:-webkit-box;
display:-moz-box;
display:-ms-flexbox;
display:-webkit-flex;
display:-moz-flex;
display:flex;
-webkit-box-lines:multiple;
-moz-box-lines:multiple;
-webkit-flex-wrap:wrap;
-moz-flex-wrap:wrap;
-ms-flex-wrap:wrap;
flex-wrap:wrap;
padding: 80px 0 0 0;
}
#page-dx #case .list:after { content:"."; clear:both; height:0; display:block; visibility:hidden; }
* html #page-dx #case .list { display:inline-block; }
*:first-child+html #page-dx #case .list { display:inline-block; }

#page-dx #case .list div{
float: left;
width: 33.3333333333%;
background: #8caabe;
}
#page-dx #case .list div a{
display: block;
text-decoration: none;
position: relative;
height: 480px;
}
#page-dx #case .list div a h3{
font-size: 50px;
line-height: 50px;
font-weight: 600;
color: #FFF;
text-align: center;
position: relative;
z-index: 101;
padding: 80px 0 0 0;
}
#page-dx #case .list div a h3 span{
font-size: 20px;
line-height: 20px;
display: block;
margin: 0 auto 10px auto;
}
#page-dx #case .list div a h3 strong{
font-size: 18px;
line-height: 32px;
letter-spacing: 2px;
font-weight: 500;
display: block;
margin: 30px auto 0 auto;
}
#page-dx #case .list div a p{
font-size: 24px;
line-height: 40px;
letter-spacing: 2px;
font-weight: 300;
color: #FFF;
text-align: center;
position: relative;
z-index: 101;
padding: 15px 0 0 0;
}
#page-dx #case .list div a .image{
position: absolute;
top:0;
left: 0;
width: 100%;
height: 100%;
padding: 0;
z-index: 100;
}
#page-dx #case .list div a .image img{
width: 100%;
height: 100%;
object-fit: cover;
}
#page-dx #case .list div a .button{
font-size: 16px;
line-height: 16px;
font-weight: 300;
color: #FFF;
text-align: center;
border: solid 1px #FFF;
border-radius: 3px;
padding: 10px 0 12px 0;
width: 200px;
margin: 25px auto 0 auto;
}



#page-dx #principles{
padding: 150px 40px 160px 40px;
background: -moz-linear-gradient(top, #232538, #325a82); 
background: -webkit-linear-gradient(top, #232538, #325a82); 
background: linear-gradient(to bottom, #232538, #325a82); 
}
#page-dx #principles .inner{
position: relative;
}
#page-dx #principles h2{
font-size: 50px;
line-height: 60px;
font-weight: 600;
color: #FFF;
position: absolute;
top:0;
left: 0;
}
#page-dx #principles ul{
padding: 70px 0 0 360px;
}
@media screen and (max-width:960px) {
#page-dx #principles ul{
padding: 165px 0 0 0;
}
}
#page-dx #principles ul li{
font-size: 20px;
line-height: 60px;
font-weight: 500;
letter-spacing: 4px;
color: #FFF;
}
#page-dx #principles ul li span{
}



#page-dx #partner{
padding: 0 40px;
}
#page-dx #partner .inner{
}
#page-dx #partner h2{
font-size: 30px;
line-height: 30px;
font-weight: 600;
text-align: center;
letter-spacing: 4px;
padding: 160px 0 0 0;
}
#page-dx #partner ul{
display: table;
padding: 60px 0 0 0;
}
#page-dx #partner ul li{
float: left;
margin: 20px 20px 0 20px;
}
#page-dx #partner ul li a{
}
#page-dx #partner ul li a img{
}



/* ==============================================
#page-about
============================================== */

#page-about{
}



#page-about #introduction{
padding: 95px 40px 0 40px;
}
#page-about #introduction .inner{
}
#page-about #introduction h1{
font-size: 60px;
line-height: 60px;
font-weight: 600;
}
#page-about #introduction h1 span:nth-child(1){
color: #232538;
}
#page-about #introduction h1 span:nth-child(2){
color: #293a56;
}
#page-about #introduction h1 span:nth-child(3){
color: #2c4564;
}
#page-about #introduction h1 span:nth-child(4){
color: #2f4f73;
}
#page-about #introduction h1 span:nth-child(5){
color: #325a82;
}
#page-about #introduction h1 strong{
font-size: 20px;
line-height: 20px;
font-weight: 500;
display: block;
padding: 30px 0 0 0;
}



#page-about #team{
padding: 155px 40px 0 40px;
}
#page-about #team .inner{
}
#page-about #team h2{
font-size: 40px;
line-height: 40px;
font-weight: 600;
text-align: center;
}
#page-about #team p{
max-width: 800px;
padding: 70px 0 0 0;
margin: auto;
text-align: justify;
}
#page-about #team ul{
display:-webkit-box;
display:-moz-box;
display:-ms-flexbox;
display:-webkit-flex;
display:-moz-flex;
display:flex;
-webkit-box-lines:multiple;
-moz-box-lines:multiple;
-webkit-flex-wrap:wrap;
-moz-flex-wrap:wrap;
-ms-flex-wrap:wrap;
flex-wrap:wrap;
}
#page-about #team ul li{
font-size: 16px;
line-height: 20px;
text-align: center;
float: left;
width: 33%;
padding: 70px 0 0 0;
}
@media screen and (max-width:960px) {
#page-about #team ul li{
width: 50%;
}
}
#page-about #team ul li img{
display: block;
width: 120px;
margin: 0 auto 20px auto;
}
#page-about #team ul li span{
font-size: 12px;
line-height: 20px;
display: block;
margin: 10px auto 0 auto;
}
#page-about #team ul li a{
display: block;
text-decoration: none;
color: #232538;
}



#modal-win {
width: 100%;
position: absolute;
}
#modal-win-inner {
box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
margin: 0 auto;
position: relative;
z-index: 9999;
border-radius: 3px;
}
#modal-win-inner > * {
border-radius: 3px;
}
#modal-bg {
width: 100%;
height: 100%;
background: -moz-linear-gradient(top, #232538, #325a82); 
background: -webkit-linear-gradient(top, #232538, #325a82); 
background: linear-gradient(to bottom, #232538, #325a82); 
position: fixed;
top: 0;
left: 0;
z-index: 9998;
cursor: pointer;
opacity:0.95!important;
}
.pp{
display: none;
width:800px;
position:relative;
background:#FFF;
}
.pp h2{
font-size: 24px;
line-height: 24px;
position: relative;
padding: 80px 60px 0 190px;
}
.pp h2 img{
width: 120px;
border-radius: 60px;
position: absolute;
top:44px;
left: 44px;
}
.pp h2 span{
display: block;
font-size: 14px;
line-height: 14px;
margin: 10px 0 0 0;
}
.pp ul{
position: absolute;
top:44px;
right: 44px;
}
.pp ul li{
float: left;
margin: 0 0 0 10px;;
}
.pp ul li a{
display: block;
width: 44px;
height: 44px;
background: #325a82;
border-radius: 22px;
text-align: center;
padding: 6px 0 0 0;
}
.pp ul li img{
width: 25px;
}
.pp p{
padding: 75px 50px 50px 50px;
text-align: justify;
}
.pp .modal-close{
padding: 0;
}
.pp .modal-close a{
position: absolute;
bottom:-80px;
left: 0;
right: 0;
width: 44px;
height: 44px;
background: #FFF;
border-radius: 22px;
margin: auto;
font-size: 28px;
line-height: 36px;
font-weight: 300;
text-align: center;
text-decoration: none;
padding: 0 0 0 2px;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}



#page-about #products{
padding: 160px 40px 0 40px;
}
#page-about #products .inner{
}
#page-about #products h2{
font-size: 40px;
line-height: 40px;
font-weight: 600;
text-align: center;
}
#page-about #products ul{
padding: 75px 0 0 0;
}
#page-about #products ul li{
float: left;
width: 46%;
margin: 0 8% 0 0;
}
#page-about #products ul li:last-child{
margin: 0;
}
#page-about #products ul li a{
display: block;
background: #FFF;
padding: 75px 0 80px 0;
-moz-box-shadow: 0 0 40px rgba(240, 240, 245, 1.0);
-webkit-box-shadow: 0 0 40px rgba(240, 240, 245, 1.0);
box-shadow: 0 0 40px rgba(240, 240, 245, 1.0);
text-align: center;
}
#page-about #products ul li a img{
height: 60px;
}
#page-about #products ul:last-child{
border: solid 1px #325a82;
padding: 0;
margin: 100px 0 0 0;
}
#page-about #products ul:last-child li{
text-align: center;
width: 33.33333%;
margin: 0;
border-right: solid 1px #325a82;
padding: 80px 0 80px 0;
}
#page-about #products ul:last-child li:last-child{
border-right: none;
}
#page-about #products ul:last-child li strong{
font-size: 20px;
line-height: 20px;
font-weight: 500;
display: block;
margin: 35px auto 30px auto;
}
#page-about #products ul:last-child li img{
height: 80px;
}



#page-about #stack{
padding: 160px 40px 0 40px;
}
#page-about #stack .inner{
}
#page-about #stack h2{
font-size: 40px;
line-height: 40px;
font-weight: 600;
text-align: center;
padding: 0 0 80px 0;
}



#page-about #profile{
height: 600px;
margin: 120px 0 0 0;
}
#page-about #profile .inner{
max-width: 100%;
position: relative;
}
#page-about #profile .inner div{
background: #325a82;
position: absolute;
top:0;
left: 0;
width: 400px;
height: 600px;
}
#page-about #profile div h2{
padding: 160px 0 0 50px;
}
#page-about #profile div h2 img{
height: 44px;
}
#page-about #profile div table{
margin: 25px 0 0 50px;
}
#page-about #profile div table th{
font-size: 14px;
line-height: 24px;
font-weight: 300;
color: #FFF;
vertical-align: top;
padding: 10px 0 0 0;
}
#page-about #profile div table td{
font-size: 14px;
line-height: 24px;
font-weight: 300;
color: #FFF;
padding: 10px 0 0 20px;
}
#page-about #profile iframe{
width: 100%;
height: 600px;
}



/* ==============================================
#page-news
============================================== */

#page-news{
}



#page-news #introduction{
padding: 95px 40px 0 40px;
}
#page-news #introduction .inner{
}
#page-news #introduction h1{
font-size: 60px;
line-height: 60px;
font-weight: 600;
}
#page-news #introduction h1 span:nth-child(1){
color: #232538;
}
#page-news #introduction h1 span:nth-child(2){
color: #2c4564;
}
#page-news #introduction h1 span:nth-child(3){
color: #325a82;
}



#page-news #list{
padding: 90px 5% 0 5%;
}
#page-news #list .inner{
max-width: 100%;
display:-webkit-box;
display:-moz-box;
display:-ms-flexbox;
display:-webkit-flex;
display:-moz-flex;
display:flex;
-webkit-box-lines:multiple;
-moz-box-lines:multiple;
-webkit-flex-wrap:wrap;
-moz-flex-wrap:wrap;
-ms-flex-wrap:wrap;
flex-wrap:wrap;
}
#page-news #list .inner div{
float: left;
background: #FFF;
-moz-box-shadow: 0 0 40px rgba(240, 240, 245, 1.0);
-webkit-box-shadow: 0 0 40px rgba(240, 240, 245, 1.0);
box-shadow: 0 0 40px rgba(240, 240, 245, 1.0);
width: 30%;
margin: 5% 5% 0 0;
}
#page-news #list .inner div:nth-child(3n){
margin: 5% 0 0 0;
}
@media screen and (max-width:1200px) {
#page-news #list .inner div{
width: 47.5%;
}
#page-news #list .inner div:nth-child(odd){
margin: 5% 5% 0 0;
}
#page-news #list .inner div:nth-child(even){
margin: 5% 0 0 0;
}
}
#page-news #list div a{
text-decoration: none;
display: block;
padding: 0 40px 50px 40px;
}
#page-news #list div a h2{
font-size: 18px;
line-height: 28px;
font-weight: 500;
padding: 15px 0 0 0;
}
#page-news #list div a p{
line-height: 24px;
text-align: justify;
}
#page-news #list div a p:nth-child(1){
font-weight: 600;
padding: 40px 0 0 0;
}
#page-news #list div a p:nth-child(1).news{
color: #f5a623;
}
#page-news #list div a p:nth-child(1).press{
color: #f5a623;
}
#page-news #list div a p:nth-child(1).update{
color: #7ed321;
}
#page-news #list div a p:nth-child(1).media{
color: #4a90e2;
}
#page-news #list div a p:nth-child(2){
}
#page-news #list div a p:last-child{
padding: 15px 0 0 0;
}


