$technologies: "blockchain", "serverless", "frontend", "community";

.technology {
	.p-title__body {
		margin-bottom: 8rem;
	}
}

.p-page-technology .p-block {
	@include mq() {
		margin-bottom: 20px;
	}
}

.p-technology-cards {
	margin: 0 auto;
	display: flex;
	justify-content: space-between;

	@media screen and (max-width: 1260px) {
		width: 720px;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	@include mq(lg) {
		width: 100%;
	}
	@include mq() {
		flex-direction: column;
	}
}

.p-usecase-list {
  padding: 0;
  max-width: 650px;
  margin: 0 auto;

  @include mq(sm) {
    width: 100%;
    padding-left: 10px;
    margin: 40px auto;
  }

  &__item {
    list-style: none;
    width: 100%;
    position: relative;
    margin-bottom: 20px;

    @include mq(sm) {
      width: 100%;
      display: flex;
      height: 80px;
      margin-bottom: 60px;
      padding-top: 1em;
      align-items: center;
    }
  }

  &__item::before {
    display: inline-block;
    content: "";
    vertical-align: middle;
    margin-right: 80px;
    @include mq() {
      margin-right: 20px;
    }
    @include mq(sm) {
      margin-right: 0px;
    }
  }

  @for $i from 1 through 3 {
    &__item:nth-child(#{$i})::before {
      background: url("/img/pc/icon_usecase#{$i}.png") no-repeat;
      width: 200px;
      height: 200px;
      background-size: contain;
      background-position: center;
    }
  }

  @include mq() {
    @for $i from 1 through 3 {
      &__item:nth-child(#{$i})::before {
        background: url("/img/pc/icon_usecase#{$i}.png") no-repeat;
        width: 200px;
        height: 112px;
        min-width: 112px;
        background-size: contain;
        background-position: center;
      }
    }
  }

  &__item-body {
    font-size: 1.6rem;
    line-height: 2;
    letter-spacing: 1px;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
    text-align:left;

    @include mq() {
      font-size: 1.6rem;
      line-height: 1.5;
    }
    @include mq(sm) {
      text-align: left;
      padding-left: 1rem;
    }
  }
}

.is-ja .p-usecase-list {
  max-width: 800px;

  &__item-body {
    letter-spacing: 4px;
  }
}

.p-technology-card {
	@include box-shadow;
	@include transition;
	display: block;
	background-color: white;
	padding: 35px;
	text-align: center;
	width: 3599px;

	&:hover {
		text-decoration: none;
		cursor: pointer;
	}

	&:focus, &:active {
		text-decoration: none;
	}

	@media screen and (max-width: 1260px) {
		margin-bottom: 5%;
	}

	@include mq() {
		padding: 24px;
		width: 100%;
		display: flex;
		align-items: center;
		margin-bottom: 20px;
	}

	&::before {
		content: "";
		display: inline-block;
		width: 60px;
		max-width: 60px;
		height: 60px;
		@media screen and (max-width: 1260px) {
			width: 48px;
			height: 48px;
		}
		@include mq() {
			max-width: 48px;
			min-width: 48px;
			margin: 0 40px;
		}
		@include mq(sm) {
			margin: 0 20px;
		}
	}

	@each $technology in $technologies {
		&--#{$technology}::before {
			background: url("/img/pc/icon_technology_#{$technology}.png") center center no-repeat;
			background-size: contain;
		}
		@include mq() {
			@if $technology == 'twitter' or  $technology == 'medium' {
				br:nth-child(2) {
					display: none;
				}
			}@else if $technology == 'github' {
				&--#{$technology}::before {
					width: 38px;
				}
				br:nth-child(2) {
					display: none;
				}
			}@else if $technology == 'discord' {
				br:nth-child(1) {
					display: none;
				}
			}@else if $technology == 'reddit' {
				br {
					display: none;
				}
			}
		}

	}

	&__sns {
		@include font-title;
		font-size: 1.8rem;
		letter-spacing: 1px;
		line-height: 2.1;

		@include mq() {
			text-align: left;
			font-size: 1.6rem;
			line-height: 1.5;
			padding-left: 20px;
			margin: 0 0 12px;
		}
	}

	&__body {
		font-size: 1.4rem;
		letter-spacing: 1px;
		line-height: 1.57;
		@include mq() {
			text-align: left;
			font-size: 1.4rem;
			line-height: 1.7;
			padding-left: 20px;
			margin: 0;
		}
	}
}



.p-contact-text{

  min-height: 100%;
  color: $color-text-primary;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 2;
  overflow-x: hidden;
  text-align: center;

  @include mq(sm) {
    margin-right: 0px!important;
    text-align: left;
  }
}

.p-business-cards {
	margin: 0 auto;
	display: flex;
	justify-content: space-between;

	@media screen and (max-width: 1260px) {
		width: 720px;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	@include mq(lg) {
		width: 100%;
	}
	@include mq() {
		flex-direction: column;
	}
}



.p-business-card {
	@include transition;
	display: block;
	padding: 0 35px;
	text-align: center;
	width: 3599px;

	&:focus, &:active {
		text-decoration: none;
	}

	@media screen and (max-width: 1260px) {
		margin-bottom: 5%;
	}

	@include mq() {
		padding: 24px;
		width: 100%;
		display: flex;
		align-items: center;
		margin-bottom: 20px;
	}

	&::before {
		content: "";
		display: inline-block;
		width: 60px;
		max-width: 60px;
		height: 60px;
		@media screen and (max-width: 1260px) {
			width: 48px;
			height: 48px;
		}
		@include mq() {
			max-width: 48px;
			min-width: 48px;
			margin: 0 40px;
		}
		@include mq(sm) {
			margin: 0 20px;
		}
	}

	@each $technology in $technologies {
		&--#{$technology}::before {
			background: url("/img/pc/icon_technology_#{$technology}.png") center center no-repeat;
			background-size: contain;
		}
		@include mq() {
			@if $technology == 'twitter' or  $technology == 'medium' {
				br:nth-child(2) {
					display: none;
				}
			}@else if $technology == 'github' {
				&--#{$technology}::before {
					width: 38px;
				}
				br:nth-child(2) {
					display: none;
				}
			}@else if $technology == 'discord' {
				br:nth-child(1) {
					display: none;
				}
			}@else if $technology == 'reddit' {
				br {
					display: none;
				}
			}
		}

	}

	&__title {
		@include font-title;
		font-size: 1.8rem;

		letter-spacing: 1px;
		line-height: 2.1;
		text-align: center;

		@include mq() {
			text-align: left;
			font-size: 1.6rem;
			line-height: 1.5;
			padding-left: 20px;
			margin: 0 0 12px;
		}
	}

	&__sns {
		@include font-title;
		font-size: 1.8rem;
		letter-spacing: 1px;
		line-height: 2.1;
		text-align: left;

		@include mq() {
			text-align: left;
			font-size: 1.6rem;
			line-height: 1.5;
			padding-left: 20px;
			margin: 0 0 12px;
		}
	}

	&__body {
		text-align: left;
		font-size: 1.4rem;
		letter-spacing: 1px;
		line-height: 2;
		@include mq() {
			text-align: left;
			font-size: 1.4rem;
			line-height: 1.7;
			padding-left: 20px;
			margin: 0;
		}
	}
}
